body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

a {
  text-decoration: none;
  color: #008bff;
}

button {
  background-color: #008bff;
  color: #fff;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #005a99;
}

#feedbackList {
  list-style: none;
  padding: 0;
}

#feedbackList li {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#feedbackList li > div {
  margin-bottom: 10px;
}

#feedbackList li span {
  color: #333;
}

#feedbackList li div:nth-child(2) {
  color: #666;
}

.imageInput {
  margin-top: 10px;
}

.uploadButton {
  background-color: #4caf50;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.uploadButton:hover {
  background-color: #45a049;
}

.imageContainer {
  margin-top: 10px;
}

.changedByAdmin {
  color: #ff4500;
  font-weight: bold;
  margin-top: 10px;
}

.notChangedByAdmin {
  display: none;
}

#feedbackForm {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  background-color: #008bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #005a99;
}
